body {
    font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    float: auto;
}

.boldit {
    font-weight: 700;
    margin-right: 0.5%;
}

.little-span {
    margin-right: 3%;
}

.little-div {
    margin-bottom: 1%;
}